@import 'debuttonify';

$gallery-border: 3px;

.ui-previews {
  display: flex;
  gap: 16px - $gallery-border * 2;
  overflow-x: auto; // flex-wrap doesn't combine with content collapser
  overflow-y: hidden;
}

.ui-previews-centered {
  justify-content: center;
}

.ui-previews-vertical {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
}

.ui-previews-full-width {
  width: 100%;
}

.ui-previews-button {
  @include debuttonify;

  flex-shrink: 0;
  position: relative; // For pseudo-element styling
  border: $gallery-border solid transparent;
  border-radius: 6px;
  transition: border-color 160ms ease;
  box-sizing: border-box;
}

.ui-previews-button-horizontal {
  width: 62px;
}

.ui-previews-button-vertical {
  height: 100px;
}

.ui-previews-image {
  display: block;
  object-fit: cover;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  transform: translate(0);
}

.ui-previews-image-vertical {
  max-width: 100%;
}

.ui-previews-image-horizontal {
  max-width: 120px;
}
