<div class="ui-tab-body">
  <ul class="ui-tab-header-row">
    <li
      *ngFor="let tab of tabsRef; index as i;"
      [class.ui-tab-header-active]="tab.id === activeTab?.id"
      class="ui-tab-header-item">
      <button
        (click)="setActive(tab.id)"
        class="wb-typography-caption ui-tab-header-item-button">
        <ng-container *ngTemplateOutlet="tab.tabLabelRef?.contentRef ?? null"></ng-container>
      </button>
    </li>
  </ul>
  <div class="ui-tab-content">
    <ng-container *ngTemplateOutlet="activeTab?.contentRef ?? null"></ng-container>
  </div>
</div>
