<mat-sidenav-container class="app-shell-body">
  <mat-sidenav
    [opened]="sidenavOpened"
    (closedStart)="closeSidenav()"
    mode="over"
    class="sidenav-component">
    <div class="side-block">
      <button
        (click)="closeSidenav()"
        mat-icon-button
        class="sidenav-close-button">
        <mat-icon svgIcon="close"></mat-icon>
      </button>
      <mat-nav-list role="list">
        <a
          mat-list-item
          [routerLink]="['/']">
          Главная
        </a>
        <a
          mat-list-item
          [routerLink]="searchPagePath">
          Поиск
        </a>
        <a
          mat-list-item
          [routerLink]="historyPagePath">
          История
        </a>
        <a
          mat-list-item
          [routerLink]="FAQPagePath">
          FAQ
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="sidenav-content">
      <div class="mat-elevation-z3 toolbar-block">
        <div
          *ngIf="(toolbarState$ | async) as toolbarState"
          class="title-block">
          <button
            (click)="openSidenav()"
            mat-icon-button>
            <mat-icon svgIcon="menu"></mat-icon>
          </button>
          <div
            *ngIf="toolbarState.platformColor"
            [style.background-color]="toolbarState.platformColor"
            class="platform-circle">
          </div>
          <h1 class="wb-typography-h3 title-label">
            {{ toolbarState.title }}
          </h1>
        </div>
        <form
          (ngSubmit)="search()"
          ngForm
          class="search-form">
          <label class="search-label">
            <div class="wb-typography-caption">
              Поиск
            </div>
            <div class="search-row">
              <input
                [(ngModel)]="searchForm.query"
                name="query"
                type="text"
                class="search-input">
              <button
                type="submit"
                class="submit-button">
                <mat-icon svgIcon="search"></mat-icon>
              </button>
            </div>
          </label>
        </form>
      </div>
      <div [ngClass]="scrollContainerClass">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

