@use 'sass:math';
@import 'debuttonify';

.app-shell-body {
  height: 100%;

  .sidenav-component {
    min-width: 240px;
    max-width: 92%;
  }

  .sidenav-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .side-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .sidenav-close-button {
    margin: 8px 8px 8px auto;
  }

  .toolbar-block {
    width: 100%;
    height: 64px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 16px;
    background: white;
    box-sizing: border-box;
    z-index: 1;
  }

  .platform-circle {
    width: 24px;
    height: 24px;
    border-radius: 12px;
  }

  .content-block {
    flex-grow: 1;
    background: #f7f7f7;
    overflow-y: auto;
  }
}
