@use 'sass:math';
@import 'debuttonify';

.app-shell-body {
  height: 100%;
  display: flex;
  flex-direction: column;

  .toolbar-component {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    background: white;
    z-index: 1;
  }

  .platform-circle {
    width: 24px;
    height: 24px;
    border-radius: 12px;
  }

  .content-block {
    flex-grow: 1;
    background: #f7f7f7;
    overflow-y: auto;
  }
}
