@import 'debuttonify';

$collapse-transition: 160ms;
$image-width: 400px;

.overview-body {
  display: flex;
  align-items: flex-start;
  gap: 40px;

  @media (max-width: 640px) {
    flex-direction: column;
  }

  .image-button {
    @include debuttonify;

    flex-shrink: 0;

    @media (min-width: 481px) and (max-width: 980px) {
      width: 50%;
    }

    @media (max-width: 480px) {
      width: 100%;
    }
  }

  .overview-image {
    width: 100%;
    display: block;
    max-height: 540px;
    width: 100%;
    object-fit: contain;
  }

  .overview-side {
    max-width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
  }

  .overview-title {
    margin-bottom: 16px;
  }

  .external-link {
    align-self: flex-start;
    width: 160px;
    margin-bottom: 16px;
  }

  .collapsible-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
  }

  .overview-description {
    @include debuttonify;

    text-align: start;
  }
}

