<div class="overview-body">
  <button
    (click)="openGallery()"
    class="image-button">
    <img
      [src]="item?.item?.images?.[item?.activeImage ?? 0]?.big"
      crossorigin="anonymous"
      alt=""
      referrerpolicy="no-referrer"
      class="overview-image">
  </button>
  <div class="overview-side">
    <h1
      *ngIf="title"
      class="wb-typography-h2 overview-title">
      {{ title }}
    </h1>
    <div class="collapsible-block">
      <a
        *ngIf="item?.item?.externalURL"
        [href]="item?.item?.externalURL"
        target="_blank"
        rel="noreferrer noopener"
        mat-stroked-button
        color="primary"
        class="external-link">
        Открыть товар
        <mat-icon svgIcon="external"></mat-icon>
      </a>
      <div
        *ngIf="item?.item?.description"
        class="wb-typography-body overview-description">
        {{ item?.item?.description }}
      </div>
      <ui-previews
        [items]="[{ id: '1', photos: item?.item?.images }]"
        [sectionIndex]="0"
        [photoIndex]="item?.activeImage ?? 0"
        (indexChange)="selectImage($event[1])"
        (openInsist)="openGallery($event[1])">
      </ui-previews>
    </div>
  </div>
</div>
