@import 'debuttonify';

$collapse-transition: 160ms;
$image-width: 400px;

.overview-body {
  display: flex;
  align-items: flex-start;
  gap: 40px;

  .image-block {
    @include debuttonify;

    flex-shrink: 0;
  }

  .overview-image {
    display: block;
    max-height: 540px;
    width: auto;
    object-fit: contain;
  }

  .overview-side {
    min-width: 0;
    display: flex;
    flex-direction: column;
  }

  .overview-title {
    margin-bottom: 16px;
  }

  .external-link {
    align-self: flex-start;
    width: 160px;
    margin-bottom: 16px;
  }

  .collapsible-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
  }

  .overview-description {
    @include debuttonify;

    text-align: start;
  }
}

