<div
  *ngIf="(product$ | async) as product"
  class="product-body">
  <!-- LOADER -->
  <ng-container *ngIf="product.isLoading">
    <div
      @fadeOut
      class="progress-block">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>

  <div
    *ngIf="!product.isLoading && !product.error && product.item"
    @fadeIn
    class="content-block">
    <!-- CONTENT -->
    <wb-product-overview [item]="product"></wb-product-overview>

    <div
      *ngIf="(visitedEntry$ | async) as visitedEntry"
      class="wb-typography-caption visited-entry">
      <mat-icon
        svgIcon="done"
        class="visited-entry-icon">
      </mat-icon>
      <span>
        Последнее посещение: {{ visitedEntry.date[visitedEntry.date.length - 1] | wbFriendlyDate }}
      </span>
    </div>

    <!-- SIMILAR ITEMS -->
    <wb-product-similar [item]="product"></wb-product-similar>

    <!-- FEEDBACKS -->
    <div class="sort-block">
      <div class="wb-typography-body sort-title">
        <mat-icon svgIcon="sort"></mat-icon>
        <span>Сортировка</span>
      </div>
      <mat-button-toggle-group
        [value]="sortByDate"
        (change)="changeSort($event)"
        name="sort"
        aria-label="Сортировка">
        <mat-button-toggle [value]="false">По рейтингу</mat-button-toggle>
        <mat-button-toggle [value]="true">По дате</mat-button-toggle>
      </mat-button-toggle-group>
      <div class="wb-typography-caption">
        Посещенные товары автоматически сортируются по дате (сначала новые). Выбор сохраняется
      </div>
    </div>

    <wb-product-feedbacks
      [item]="feedbacks$ | async"
      [product]="product"
      [sortByDate]="sortByDate"
      (retryFeedbacks)="retryFeedbacks()">
    </wb-product-feedbacks>
  </div>
</div>
