@import 'debuttonify';

:host {
  display: block;
  height: 100%;
}

.product-body {
  width: 100%;
  height: 100%;
  display: grid;
  overflow-x: hidden; // Due to scale animations

  .progress-block {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .visited-entry {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .visited-entry-icon {
    flex-shrink: 0;
  }

  .content-block {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    padding: 24px 40px 80px 16px;
    overflow-x: hidden;
    gap: 60px;

    @media (max-width: 640px) {
      padding: 24px 16px;
      gap: 24px;
    }
  }

  .options-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

    & > * {
      max-width: 400px;
    }
  }

  .sort-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .sort-title {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .checkbox-label {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .info-icon {
    height: 18px;
    width: 18px;
  }
}
