<div
  *ngIf="(product$ | async) as product"
  class="product-body">
  <!-- LOADER -->
  <ng-container *ngIf="product.isLoading">
    <div
      @fadeOut
      class="progress-block">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>

  <div
    *ngIf="!product.isLoading && !product.error && product.item"
    @fadeIn
    class="content-block">
    <!-- CONTENT -->
    <wb-product-overview [item]="product"></wb-product-overview>

    <div
      *ngIf="(visitedEntry$ | async) as visitedEntry"
      class="wb-typography-caption visited-entry">
      <mat-icon
        svgIcon="done"
        class="visited-entry-icon">
      </mat-icon>
      <span>
        Последнее посещение: {{ visitedEntry.date[visitedEntry.date.length - 1] | wbFriendlyDate }}
      </span>
    </div>

    <!-- SIMILAR ITEMS -->
    <wb-product-similar [item]="product"></wb-product-similar>

    <div class="options-block">
      <!-- FEEDBACKS -->
      <div class="sort-block">
        <div class="wb-typography-body sort-title">
          <mat-icon svgIcon="sort"></mat-icon>
          <span>Сортировка</span>
          <mat-icon
            svgIcon="info"
            matTooltip="Посещенные товары автоматически сортируются по дате (сначала новые). Выбор сохраняется"
            class="info-icon">
          </mat-icon>
        </div>
        <mat-button-toggle-group
          [value]="sortByDate"
          (change)="changeSort($event)"
          name="sort"
          aria-label="Сортировка">
          <mat-button-toggle [value]="false">По рейтингу</mat-button-toggle>
          <mat-button-toggle [value]="true">По дате</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div class="sort-block">
        <div class="wb-typography-body sort-title">
          <mat-icon svgIcon="settings"></mat-icon>
          <span>Режим</span>
          <mat-icon
            svgIcon="info"
            matTooltip="Выбор сохраняется"
            class="info-icon">
          </mat-icon>
        </div>
        <mat-button-toggle-group
          [value]="isGallery$ | async"
          (change)="changeMode($event)"
          name="sort"
          aria-label="Сортировка">
          <mat-button-toggle [value]="false">Отзывы</mat-button-toggle>
          <mat-button-toggle [value]="true">Галерея</mat-button-toggle>
        </mat-button-toggle-group>
      </div>


      <div class="checkbox-group">
        <!-- NO PHOTOS -->
        <mat-checkbox (change)="changeNoPhoto($event)">
          <div class="checkbox-label">
            <span>
              Отзывы без фото
            </span>
            <mat-icon
              svgIcon="info"
              matTooltip="Может пригодиться, если на маркетплейсе наткнулись на отзыв без фото и вам надо найти человека на этом сайте. Переключитесь в режим отзывов для просмотра"
              class="info-icon">
            </mat-icon>
          </div>
        </mat-checkbox>

        <!-- VIDEO ONLY -->
        <mat-checkbox (change)="changeVideoOnly($event)">
          <div class="checkbox-label">
            Только видео
          </div>
        </mat-checkbox>
      </div>
    </div>

    <wb-product-feedbacks
      [item]="feedbacks$ | async"
      [product]="product"
      [sortByDate]="sortByDate"
      [noPhotos]="(noPhotos$ | async) || false"
      [videosOnly]="(onlyVideos$ | async) || false"
      (retryFeedbacks)="retryFeedbacks()">
    </wb-product-feedbacks>
  </div>
</div>
