.home-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

  .platforms-block {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .navigation-circle {
    width: 64px;
    height: 64px;
    border-radius: 32px;
  }
}
