<div
  *ngIf="(person$ | async) as person"
  class="person-body">

  <!-- PROFILE INFO -->
  <div class="profile-block">
    <img
      [src]="person.photo"
      alt=""
      referrerpolicy="no-referrer"
      class="profile-image">
    <h1 class="wb-typography-h2 profile-name">
      {{ person.name }}
      <a
        *ngIf="person.externalURL"
        [href]="person.externalURL"
        aria-label="Перейти на страницу пользователя"
        matTooltip="Перейти на страницу пользователя"
        target="_blank"
        rel="noreferrer noopener"
        mat-icon-button
        color="primary"
        class="wb-filled-button external-link">
        <mat-icon svgIcon="external"></mat-icon>
      </a>
    </h1>
  </div>

  <!-- LAST VISIT ENTRY -->
  <div
    *ngIf="(visitedEntry$ | async) as visitedEntry"
    class="wb-typography-caption visited-entry">
    <mat-icon svgIcon="done" class="visited-entry-icon"></mat-icon>
    <span>
      Последнее посещение: {{ visitedEntry.date[visitedEntry.date.length - 1] | wbFriendlyDate }}
    </span>
  </div>

  <button
    (click)="toggleGalleryMode()"
    mat-stroked-button
    color="primary"
    class="gallery-switcher">
    {{ (galleryMode$ | async) ? 'Режим отзывов' : 'Режим галереи' }}
  </button>

  <!-- CARD MODE -->
  <ul
    *ngIf="!(galleryMode$ | async); else galleryTemplate;"
    class="feedback-list">
    <li
      *ngFor="let feedback of person?.feedbackViewModels; trackBy: trackByFeedback;"
      class="feedback-entry">
      <div class="product-photo-wrapper">
        <img
          *ngIf="feedback.productPhoto?.small"
          [src]="feedback.productPhoto?.small"
          alt=""
          referrerpolicy="no-referrer"
          class="product-photo">
      </div>
      <div class="feedback-content">
        <a
          [routerLink]="[productPathPrefix, feedback.productId]"
          class="wb-typography-link feedback-product">
          {{ feedback.productName }}
        </a>
        <div class="wb-typography-caption feedback-text">
          {{ feedback.text }}
        </div>
        <ul class="feedback-items">
          <li *ngFor="let photo of feedback.photoViewModels; index as i; trackBy: trackByPhoto;">
            <a
              [href]="photo.photo.big"
              (click)="openGallery($event, photo.gallery)">
              <img
                [src]="photo.photo.small"
                alt=""
                referrerpolicy="no-referrer"
                class="feedback-photo">
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>

<ng-template #galleryTemplate>
  <ul class="gallery-list">
    <ng-container *ngFor="let item of (person$ | async)?.feedbackViewModels; trackBy: trackByFeedback;">
      <li
        *ngFor="let photo of item.photoViewModels; last as isLast; trackBy: trackByPhoto;"
        [class.gallery-gap]="isLast">
        <a
          [href]="photo.photo.big"
          (click)="openGallery($event, photo.gallery)"
          class="photo-button">
          <img
            [src]="photo.photo.small"
            alt=""
            referrerpolicy="no-referrer"
            class="photo-preview">
        </a>
      </li>
    </ng-container>
  </ul>
</ng-template>
