:host {
  display: block;
  height: 100%;
}

.catalog-body {
  width: 100%;
  height: 100%;
  display: grid;
  overflow-x: hidden; // Due to scale animations

  .progress-block {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .error-block {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .error-label-row {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
