<div class="faq-body">
  <ul class="wb-typography-body">
    <li>
      Сайт полностью управляется с клавиатуры или мыши
      <ul>
        <li>
          Некоторые кнопки имеют шорткаты для клавиатуры
        </li>
        <li>
          ПКМ по изображению в галерее сохранит его
        </li>
      </ul>
    </li>
    <li>
      Если изображение сохранялось с сайта, то оно имеет определенный формат с двумя ID, например <pre class="code-block">feedback-26399253-32396290-1.jpg</pre>
      <ul>
        <li>
          Первое число (26399253) означает ID пользователя, которое можно подставить в ссылку. Например: <a [routerLink]="personPageLink">/wb/person/26399253</a>
        </li>
        <li>
          Второе число (32396290) означает ID товара, которое можно подставить в ссылку. Например: <a [routerLink]="productPageLink">/wb/product/32396290</a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="wb-typography-body">
    Чтобы связаться со мной, используйте раздел Issues в репозитории <a href="https://github.com/Tehzombie-secret/Marketplace-previewer" target="_blank" rel="noopener noreferrer">https://github.com/Tehzombie-secret/Marketplace-previewer</a>. Рассматриваются баг репорты и предложения. Там же можно будет посмотреть новости о домене, в случае если с ним что-нибудь произойдет.
  </div>
</div>
